.header{
    height: 56px;
    line-height: 56px;
    background: rgba(74, 144, 226, 1);
    font-size: 28px;
    color: #ffffff;
}
.header-box{
    width: 920px;
    margin: 0 auto;
}
.land {
    margin-right: 0;
    display: block;
    float: right;
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 56px;      
}

.land span {
    margin-left: 20px;
    cursor: pointer
}