.okr-object{
    width: 610px;
    margin-left: 310px;
    margin-top: 20px;
    border-radius: 4px;
    background: white;
}

.okr-object-top{
    width: 574px;
    height: 40px;
    line-height: 40px;
    margin-left: 18px;
    display: inline-block;
    margin-top: 16px;
}

.okr-object-top img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    clear: both;
}
.contents {
    width: 574px;
    margin-bottom: 10px;
    margin-left: 18px;
    padding-bottom: 1px;
}

.okr-key{
    width: 610px;
    height: 100px;
    background: white;
    border-radius: 4px;
    margin-top: 11px;
    margin-left: 310px;
}
.okr-key-contents{
    margin-left: 18px;
    margin-right: 18px;
    height: 90px;
    overflow: hidden;
    padding-top: 10px;
}
.okr-action-contents{
    margin-left: 18px;
    margin-right: 18px;
    height: 90px;
    overflow: hidden;
    padding-top: 10px;
}